services:
  ai-recommender:
    build: .
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  postgres_db:
    image: postgres:15-alpine
    env_file:
      - .env
    ports:
      - '5434:5432'
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
